diffusers==0.36.0
accelerate==1.10.1
transformers
decord
qwen_vl_utils[decord]==0.0.14
einops
ftfy
imageio-ffmpeg
loguru
moviepy
numpy
omegaconf
pandas
Pillow
PyYAML
safetensors
tqdm
torchao
webcolors
